body {
  padding: 10px;
}

#ext-desc {
  margin-top: 0;
  margin-bottom: 0;
}

#ext-instructions {
  margin-top: 0;
}

#save {
  margin-top: 15px;
  font-weight: 500;
}

#status {
  margin-top: 15px;
  min-height: 15px;
  font-weight: 200;
}
